

body {
  width: 100%;
  height: 100vh;
  margin: 0;
 
  background-color: #81B5F3;
  color: black;
  
  font-family: sans-serif;
 
  font-size: 27px;
  text-decoration: none;
}

main {
  display: grid;
  justify-content: center;
  justify-items: center;
}

#capturaPantalla img {
  width: 40vw;
  height: auto;
}


  

.navBar {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/banner.jpg);
  height: 210px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;

}

.navLogo {
  top: 44px;
  margin-left: 20px;
  position: relative;


}



.navItems {
  margin: 15px;
  width: 100%;
 
 
}

.navToggle {
  display: none;
}

#buscador {
  display: flex;
  
  margin-top: 15px;
  font-size: 20px;
}

#itemsCuentaUsuario {
  right: 41px;
  position: relative;
}

#itemsCuentaBuscador {
    width: 400px;
    bottom: -35px;
    left: 60vw;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


#botonAreaBusqueda:hover {
  cursor: grab;
 
  color: white;
}

.botonBusqueda {
  height: 15px;
  background-color: #138DC7;
  border-radius: 500px;
  padding: 4px;
}

  
.botonAreaBusqueda {
    background-color: #138DC7;
    border-radius: 500px;
    border: none;
    margin-left: 10px;
  }

  #areaBuscador {
    width: 258px;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    border-radius: 30px;
  }

  #botonAreaBusqueda:hover {
    cursor: grab;
   
    color: white;
  }









nav.botones-menu {
  margin-top:60px;
  margin-left:20px;
  position: absolute;
}

nav.registro-inicio {
 position: relative;
 left: 374px;

}

a.logo {
margin-bottom: 70px;
}

a.boton{
  
  background-color: #138DC7;
  color: #ffffff;
  padding: 6px 12px 6px 12px;
  font-size: 20px;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px 0px ;
}

a.boton:hover {
  cursor: grab;
  background-color: grey;
  color: white;


}



#capturaPantalla {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

  
  p {
    font-size: 20px;
  }
  
  a:hover {
    cursor: grab;
    color: white;
  
  
  }
  
  
  .cont-main{
    margin: 15px;
    font-size: 20px;
  }
  



body {
    text-decoration: none;
    font-family: sans-serif;
    
}



.avatar {
    border-radius: 500px;
    height: 50px;
}



.avatarTop {
    position: relative;
    z-index: 2;
    top: 14px;
    left: 35px;
    height: 40px;
    width: 40px;
    border-radius: 500px;

}

a {
    text-decoration: none;
    color: black;
}

h1{
    display: inline-flex;
    background-color: #D9D9D9;
    padding: 12px 6px;
    border-radius: 30px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

h4 {
    display: inline;
    background-color: #EAE7E7;
    padding: 12px 6px;
    border-radius: 30px;
    font-size: 15px;
}





#sectionTop {
    
  max-width: 1250px;
  margin: 20px auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

    

}

.tituloUsuario {
border-radius: 30px;
padding-left: 60px;
padding-right: 80px;
font-size: 20px;
position: relative;
z-index: 1;
background-color: #D9D9D9;
right:20px;

}

#fechaTop {
    position: relative;
    padding-right: 20px;
    font-size: 20px;

}


.tituloHilo{
    position: relative;
    font-size: 20px;

    
    }
    

.postPrincipal {


    background-color: #D9D9D9;
    padding: 12px 6px;
    border-radius: 30px;
    width: 70vw;
    max-width: 1200px;
    max-height: 1200px;

    margin: 0px 30px 20px 30px;


}

.post {


    background-color: #D9D9D9;
    padding: 12px 6px;
    border-radius: 30px;
    max-width: 1200px;
    max-height: 1200px;
    width: 70vw;
    margin: 20px 30px;


}

.usuarioPostDatos {
   display: flex;
   justify-content: space-between;
   
}

textarea#textAreaPost {
  background-color: white;
  margin-top: 40px;
  width: 65vw;
  height: 12vw;
  resize: none;
  
  
}

    
    


div.formulario {
    padding: 12px 6px;
    background-color: #D9D9D9;
    border-radius: 30px;  
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.botonCitar{
background-color: #138DC7;
  color: #D9D9D9;
  padding: 6px 12px 6px 12px;
  font-size: 15px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
 
}

.enviar{
    background-color: #138DC7;
      color: #D9D9D9;
      padding: 6px 12px 6px 12px;
      font-size: 15px;
      border-radius: 30px;
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: end;
      font-weight: 700;
      border: none;
    }

.iconosPosts {
    height: 20px;
    padding: 6px;
   

}

.herramientasPosts {
    display: flex;
    justify-content: left;
    
}

.enviarCaja {
    display: flex;
    justify-content: end;
}

.citarCaja {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    


}

.comentarioHilo {
    font-weight: 100;
}

.enviar:hover {
    color: white;
}






@media (max-width:1024px) {
  
  .navBar {
      flex-direction: column;
  }
  
  .navItems{
      display: flex;
      flex-direction: column;
      top: 195px;
      width: 100%;
      height: 110%;
      background-color: #81B5F3;
      margin: 30px auto 15px auto;
      transform: translateX(-160%);
      transition: 0.3s ease all;
      text-align: center;
      align-items: center;
      right: 0px;
      max-width: none;
  }

  #items {
      top:191px;
      right: 0px;
      position: absolute;
      left:0px;
      z-index: 2; 
    }

    #buscador {
      left: 100px;
      top: 200px
    }

  .navItems a {
      width: 80%;
  }

  .navToggle {
      display: flex !important;
      flex-direction: column;
     
      margin: 10px auto 10px auto;
      position: relative;
      
  }

 

  .navToggle span {
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
      position: sticky;
  }

  .close span {
      transform: rotate(45deg) translate(0px, 0px);
  }

  .close span:nth-child(2) {
      display: none;
  
  }

  .close span:nth-child(3) {
      transform: rotate(-45deg) translate(-5px, 1px);

  }

  .open {transform: translateX(0) !important;}

  .navLogo {
      margin: 0px auto 0px auto;
  }

  #itemsCuentaUsuario {
      position: static;  
  }

  #itemsCuentaBuscador {
      
      position: static;
    }
}
  


@media(max-width:500px){

  #items {
    top: 35vw;
  }

  .navLogo img {
    width: 64vw;
  }

  .botonCitar, .enviar{
    font-size:4vw ;
  }
  .iconosPosts{
    height: 3vw;
    width: auto;
  }

  h4{
    font-size: 2vw;
  }

  .avatar {
    width: 9vw;
    height: auto;
  }

  .comentarioHilo {
    font-size: 4vw;
  }

  #areaBuscador {
    width: 50vw; }

  textarea#textAreaPost {
    font-size: 4vw;
  }


    

    
      .navBar {
        min-height: 132px;
        height: 40vw;  
      }
    
}

@media(max-width:800px){
#fechaTop {
  font-size: 2vw;
}
.tituloHilo{
  font-size: 2vw;

}
.tituloUsuario {
  font-size: 2.5vw;

}

.avatarTop {
  height: 5vw;
  width: 5vw;
}
}

#publicidad {
  width: 30vw;
  margin-top: 5vw;
}

#publicidad:hover, .botonBusqueda:hover, .avatar:hover, .enviar:hover, .botonCitar:Hover, a:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease;
  }