body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #81B5F3;
  color: black;
  font-family: sans-serif;
  font-size: 27px;
  text-decoration: none;
}
  

.navBar {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/banner.jpg);
  height: 210px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;

}

.navLogo {
  top: 44px;
  margin-left: 20px;
  position: relative;
}




.navItems {
  margin: 15px;
  width: 100%;
 
 
}

.navToggle {
  display: none;
}

#buscador {
  display: flex;
  
  margin-top: 15px;
  font-size: 20px;
}

#itemsCuentaUsuario {
  right: 41px;
  position: relative;
}

#itemsCuentaBuscador {
    width: 400px;
    bottom: -35px;
    left: 60vw;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#botonAreaBusqueda:hover {
  cursor: grab;
 
  color: white;
}

.botonBusqueda {
  height: 15px;
  background-color: #138DC7;
  border-radius: 500px;
  padding: 4px;
}

  
.botonAreaBusqueda {
    background-color: #138DC7;
    border-radius: 500px;
    border: none;
    margin-left: 10px;
  }

  #areaBuscador {
    width: 258px;
    border-radius: 30px;
    border: none;
    font-size: 13px;
  }


nav.botones-menu {
  margin-top:60px;
  margin-left:20px;
  position: absolute;
}

nav.registro-inicio {
 position: relative;
 left: 374px;

}

a.logo {
margin-bottom: 70px;
}

a.boton{
  
  background-color: #138DC7;
  color: #ffffff;
  padding: 6px 12px 6px 12px;
  font-size: 20px;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px 0px ;
}

a.boton:hover {
  cursor: grab;
  background-color: grey;
  color: white;


}

  
@media (max-width:1024px) {
  
  .navBar {
      flex-direction: column;
  }
  
  .navItems{
      display: flex;
      flex-direction: column;
      top: 195px;
      width: 100%;
      height: 300%;
      background-color: #81B5F3;
      margin: 30px auto 15px auto;
      transform: translateX(-160%);
      transition: 0.3s ease all;
      text-align: center;
      align-items: center;
      right: 0px;
      max-width: none;
  }

  #items {
      top:191px;
      right: 0px;
      position: absolute;
      left:0px;
      z-index: 2; 
    }

    #buscador {
      left: 100px;
      top: 200px
    }

  .navItems a {
      width: 80%;
  }

  .navToggle {
      display: flex !important;
      flex-direction: column;
      margin: 10px auto 10px auto;
      position: relative;
      
  }

 

  .navToggle span {
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
      position: sticky;
  }

  .close span {
      transform: rotate(45deg) translate(0px, 0px);
  }

  .close span:nth-child(2) {
      display: none;
  
  }

  .close span:nth-child(3) {
      transform: rotate(-45deg) translate(-5px, 1px);

  }

  .open {transform: translateX(0) !important;}

  .navLogo {
      margin: 0px auto 0px auto;
  }

  #itemsCuentaUsuario {
      position: static;  
  }

  #itemsCuentaBuscador {
      
      position: static;
    }

    .form-titulo {
   
      font-size: 3vw;
      height: 6vw;      
      max-width: 280px;     
      width: 28vw;
    }
}
  

@media(max-width:500px){
  
  .navLogo img {
  width: 64vw;
}



.navBar {
  min-height: 132px;
  height: 40vw;  }

  #areaBuscador {
    width: 50vw;
}

#items {
  top: 35vw;

}
}

.botonBusqueda:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease;
  }

@media screen and (width < 767px) {
  /*Estilo para moviles */
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
   
    background-color: #81B5F3;
    color: black;
    
    font-family: sans-serif;
   
    font-size: 30px;
    text-decoration: none;
    
  
  
    
  
  }
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 15px ;
    background-color: #253a4e;
    color: #fff;
    text-align: center;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 520px;
    left: 0;
    width: 100%;
    background-color: #43709b;
}

.mobile-menu a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
  .second-form{

    padding-top: 15px;
    padding-left: 80px;
  }
  .second-form-p{
    font-size: 30px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #post-text{
    width: 350px;
  }
  .enviar{
    margin-top: 0px;
  }
  
  
  nav.botones-menu {
    margin-top:60px;
    margin-left:20px;
    position: absolute;
  }
  
  nav.registro-inicio {
    position: relative;
    left: 374px;
   
   }
  
  a.logo {
  padding-left: 20px;
  margin-bottom: 70px;
  }
  
  a.boton{
    
    background-color: #138DC7;
    color: #ffffff;
    padding: 6px 12px 6px 12px;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
  }
  
  a.boton:hover {
    cursor: grab;
    background-color: grey;
    color: white;
  
  
  }
  

  a:hover {
    cursor: grab;
    color: white;
  }

  h1, p {
      margin: 1em auto;
      text-align: center;
      font-size:40px;
      color: black;
      
    }
  
    h1.como-boton{
  
      height: 50px;
      width: auto;
      background-color: #253a4e;
      color:#D9D9D9;
     border-radius: 10px;
     margin-bottom: 0;
    }
  
    #subir-hilo{
      
      margin: 7%;
    }
    
    form.registro{
      width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 30px auto 30px auto;
      padding-bottom: 2em;
      background-color: #D9D9D9;
      color: rgb(0, 0, 0);
      padding: 30px;
      border-radius: 30px;
      font-size: 20px;
      text-align: center;
    }


    #recurso, #sube-archivo
     {
      margin: 10px 0 0 0;
      width: 100%;
      min-height: 2em;
  
    }
          
    #mensajeError{
      border: 0px;
      font-size: 30px;
      color: red;
      display: inline;
    }
    #titulo{
      font-size: 30px;
      width: 60%;
      height: 45px;
      

    }
    .title-user-box{
      display: flex;
      
      width: 100%;
      flex-direction: column;
      
      
    }
    #titulo{
      
      margin-bottom: 20px;
      
      border-style: none;
      border-bottom: 8px grey solid;
    }
    .thread-title{
      
      width: 100%;
      padding-right: 100px;
      
    }
    .thread-title-p{
      
      display: none;
    }
    .title-fieldset {
      background-color: white;
      color: black;
      font-size: 20px;
      padding-top: 10px;
      padding-left: 10px;
      
    }
       
  
    /* .inline {
      width: unset;
      margin: 0 0.5em 0 0;
      vertical-align: middle;
    }
     */
    
    input[type="submit"] {
      display: block;
      
      margin: 1em auto;
      height: 2em;
      font-size: 1.1rem;
      background-color: #3b3b4f;
      border-color: white;
      min-width: 300px;
      border: none;
    }
  
    input[type="submit"]:hover {
      display: block;
      width: 60%;
      margin: 1em auto;
      height: 2em;
      font-size: 1.1rem;
      background-color: #3b3b4f;
      border-color: white;
      min-width: 300px;
    }
  
    
    
    input[type="file"] {
      padding: 1px 2px;
    }
    
    
    
    a:hover {
      color: rgb(115, 103, 103);
    }
  
  
  
    a {
      color: rgb(165, 86, 86);
     
    }
  
    button {
      cursor: pointer;
      background-color: white; /* Cambia el color de fondo a blanco */
      color: black; /* Cambia el color del texto a negro */
      border: 1px solid black; /* A침ade un borde negro alrededor del bot칩n */
  }
    input.enviar{
      
    color: white;
    padding: 0px 12px 6px 12px;
    border-radius: 30px;
    margin-top: 0px ;
    }
  
   
  
    
  
    
    
    input[type="submit"] {
      border-radius: 400px;
    }
  
    #bio, #recurso {
      padding-left: 10px;
    }
   
   .categories-options{
    font-size: 22px;
    height: 60px;
   
   }
   .category-box{
    width: 40% ;
    display: flex;
    flex-direction: column;
    display: none;
   }


}




@media screen and (width >768px) {
  /* Estilos para escritorios */
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
   
    background-color: #81B5F3;
    color: black;
    
    font-family: sans-serif;
   
    font-size: 30px;
    text-decoration: none;
    
  
  
    
  
  }
  
   
  h1, p {
      margin: 1em auto;
      text-align: center;
      font-size:40px;
      color: black;
      
    }
  
    h1.como-boton{
  
      height: 50px;
      width: auto;
      background-color: #253a4e;
      color:#D9D9D9;
      
      border-radius: 10px;
    }
  
   
    
    form.registro{
      width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 30px auto 30px auto;
      padding-bottom: 2em;
      background-color: #D9D9D9;
      color: rgb(0, 0, 0);
      padding: 30px;
      border-radius: 30px;
      font-size: 20px;
      text-align: center;
    }
  
     /* form.subir-hilo {
      margin: 30px auto;
      padding-bottom: 50px;
      background-color: #D9D9D9;
      color: rgb(0, 0, 0);
      padding: 30px;
      border-radius: 30px;
      font-size: 30px;
      text-align: start;
      position: relative;
      
      box-sizing: content-box;
      
    } */
    #subir-hilo{
      
      margin: 3%;
    }
    
    fieldset {
      
      border: none;
      padding: 2rem 0;
      /* border-top: 3px solid #253a4e; */
    }
   
    
   
    
    label {
      /* display: block; */
      margin: 0.5rem 0;
    }
    
   #recurso, #sube-archivo
     {
      margin: 0px 0 0 0;
      width: 100%;
      min-height: 2em;
  
    }
    #titulo{
      margin: 0px 0 0 0;
      width: 60%;
      height: 45px;

    }
    .title-user-box{
      display: flex;
      
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      
    }
    .thread-title{
      
      
      padding-right: 100px;
    }
    .thread-title-p{
      
      font-size: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
      
      
    }
 
  
    /* .inline {
      width: unset;
      margin: 0 0.5em 0 0;
      vertical-align: middle;
    }
     */
    
    input[type="submit"] {
      display: block;
      
      margin: 1em auto;
      height: 2em;
      font-size: 1.1rem;
      background-color: #3b3b4f;
      border-color: white;
      min-width: 300px;
      border: none;
    }
  
    input[type="submit"]:hover {
      display: block;
      width: 60%;
      margin: 1em auto;
      height: 2em;
      font-size: 1.1rem;
      background-color: #3b3b4f;
      border-color: white;
      min-width: 300px;
    }
  
    
    
    input[type="file"] {
      padding: 1px 2px;
    }
    
    
    
    a:hover {
      color: rgb(115, 103, 103);
    }
  
  
  
    a {
      color: rgb(165, 86, 86);
     
    }
  
    
  
    input.enviar{
      
    color: white;
    padding: 6px 12px 6px 12px;
    border-radius: 30px;
    }
  
   
  
    
  
    
    
    
    input[type="submit"] {
      border-radius: 400px;
    }
  
    #bio, #recurso {
      padding-left: 10px;
    }
   
   
  
  
  .category-box{
    width: 40% ;
    display: flex;
    flex-direction: row;
    
    
   }
   #thread-selection{
    margin-left: 10px;
   }
   .category-text{
    padding-left: 10px;
  }
  .categories-options{
   
    height: 51px;
    width: fit-content;
    
   
   }
   #mensajeError{
    font-size: 30px;
   
    color: red;
    position: absolute;
    left: 140px;
    top: 270px
  }
  .menu-icon{
    display: none;
  }
  .second-form{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
  }
  .second-form-p{
    text-align: left;
  }
  .post-editor {
    max-width: 600px;
    margin: 20px auto;
}

.editor-buttons {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
   
}

button {
    cursor: pointer;
    background-color: white; /* Cambia el color de fondo a blanco */
    color: black; /* Cambia el color del texto a negro */
    border: 1px solid black; /* A침ade un borde negro alrededor del bot칩n */
}

#post-text{
  width: 900px;
}
.post-editor{
  margin-left: 0px;
}                    
                    
.menu-icon{
  display: none;}
.mobile-menu{
  display: none;}

.enviar{
 width: 600px;
}
}

