

body {
    width: 100%;
    height: 100vh;
    margin: 0;
   
    background-color: #81B5F3;
    color: black;
    
    font-family: sans-serif;
   
    font-size: 27px;
    text-decoration: none;
    
  
  
    
  
  }
  
  header{
    position: relative;
    display: flex;
   align-items: end;
    font-family: sans-serif;
    min-height: 20%;
     width: 100%;
    padding: 25px 0px;
    font-weight: bold;
    font-style: oblique;
  }
  
  nav.botones-menu {
    margin-top:60px;
    margin-left:20px;
    position: absolute;
  }
  
  nav.registro-inicio {
    position: relative;
    left: 374px;
   
   }
  
  a.logo {
  padding-left: 20px;
  margin-bottom: 70px;
  }
  
  a.boton{
    
    background-color: #138DC7;
    color: #ffffff;
    padding: 6px 12px 6px 12px;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
  }
  
  a.boton:hover {
    cursor: grab;
    background-color: grey;
    color: white;
  
  
  }
  

  p {
    font-size: 20px;
  }
  
  a:hover {
    cursor: grab;
    color: white;
  
  
  }
  
  
  .cont-main{
    margin: 15px;
    font-size: 20px;
  }
  

* {
    margin: 0;
}

main {
    margin: 75px 0px;

    
}

body {
    margin-bottom: 300px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

h1, p {
    width: 88%;
    margin: 1em auto;
    text-align: center;
    font-size:40px;
    color: black;
    text-decoration: none;
    
  }

.titulo {
    height: 50px;
    background-color: #253a4e;
    color:#D9D9D9;
    padding: 6px 12px 6px 12px;
    border-radius: 10px;
    display: inline;
   
    

}


.contentList{
    margin: 30px 0px;
    display: flex;
    overflow: hide;
    width: 90%;
    max-width: 1200px;
    border-radius: 30px;
  
}

.layerList {
    
    margin-bottom: 50px;
    width: 248px;
    height: 496px;
    padding: 24px;
    margin-right: 30px;
    background-color: #D9D9D9;
    border-radius: 30px;
    
    
}
h2 {
    font-size: 52px;
    border-bottom: 2px solid red;
    width: 50%;
}

.optionsList {
    padding-top: 24px;
    width: 80%;
    justify-content: space-between;
    display: flex;
    margin: 0px auto 0px auto;
    

}

.optionsList > img {
    width: 24px;
    height: 24px;
}

.detallesUsuario {
padding: 24px 0px 24px 0px;
}

h3{
    font-size: 24px;
}

h4 {
    font-size: 18px;
    color: black;
}



.social-media-button-img {
    height: 24px;
    width: 24px;
    
}



  


a {
    text-decoration: none;;
}


#buscador {

  display: flex;
  position: relative;
  top: -40px;
  right: -728px;
  margin-bottom: 8px;
  font-size: 20px;
}



.botonBusqueda {
  height: 15px;
  background-color: #138DC7;
  border-radius: 500px;
  padding: 4px;
}

  
.botonAreaBusqueda {
    background-color: #138DC7;
    border-radius: 500px;
    border: none;
    margin-left: 10px;
  }

  #areaBuscador {
    width: 258px;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    border-radius: 30px;
  }

  #botonAreaBusqueda:hover {
    cursor: grab;
   
    color: white;
  }

  a > .avatar {
    border-radius: 500px;
    height: 200px;
    width: 200px;
  }

  a {
    color: black;
  }

  @media only screen and (max-width: 720px) {
    .layerList {
        width: 100%;
        margin-right: 0;
    }

    #buscador {
        top: 0;
        right: 0;
    }
}

.avatar:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.avatar:hover,
.social-media-button-img:hover {
transform: scale(1.1); 
transition: transform 0.3s ease;
}

.layerList {
  width: 100%; /* Ancho completo para dispositivos móviles */
  margin-bottom: 20px;
}

/* Estilos específicos para dispositivos más grandes */
@media only screen and (min-width: 768px) {
  .botones-menu {
      display: flex;
      flex-direction: row;
      margin-top: 0;
  }

  .registro-inicio {
      display: flex;
      flex-direction: row;
      margin-top: 0;
  }

  .layerList {
      width: 48%; /* Ancho ajustado para dispositivos más grandes */
  }
}

/* Ajustes adicionales para dispositivos pequeños */
@media only screen and (max-width: 480px) {
  .layerList {
      width: 100%; /* Mantener el ancho completo para dispositivos pequeños */
  }
}